*{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
}

/* links in the naviation bar */
header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(57, 125, 146);
    width: 100%;
    margin: 0px;
}

/* page title, left hand top corner */
header h1{
    display: inline;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    color: rgb(57, 125, 146);
}

/* list container */
header div{
    display: block;
}

/*header nav links specs*/
header ul li{
    font-weight:bold;
    list-style: none;
    float: inline-end;
    display: inline;
    padding: 15px;
    margin: 10px;
    border-radius: 15px;    
}

/*banner image*/
.image{
    padding-top: 75px;
    width: 100%;
    height: 400px;
    background-image: url("../assets/banner-image.jpg");
}

/* text next to the profile image */
.image-text{
    position: relative;
    float: right;
    font-size: xx-large;
    max-width: fit-content;
    padding-right: 49%;
    padding-top: 20px;
}

/* picture of my face */
.profile-picture{
    width: 204px;
    height: 273px;
    background-image: url("../assets/profile-img.png");
    align-self: center;
    position: relative;
    bottom: -21px;
    margin-left: 21%;
    border-radius: 15px;
    border: solid rgb(12, 231, 166) 5px;
}

/*======================================================================*/
/* grid maintaining structure of page */
main{
    margin-top: 3.28em;
    display:grid;
    grid-template-columns: 20% 70%;
    grid-row-gap: 3em;
}

/* box containing the section headers */
.heading-box{    
    justify-self: right;
}

/* headers for about me, work and contact */
.heading-box h2{
    align-content: right;
    color:rgb(57, 125, 146);
    margin:0.5em;
}

/* area containing paragraps about me, and links */
.card-box{
    border-left: solid 0.25em;
    border-color: rgb(12, 231, 166);
    margin:0.3em;
    text-decoration: none;
}

/* paragraphs' margin, padding and positioning in container */
.card-box article p{
    margin: 1em;
    padding-left: 0em;
    padding-right: 8em;
}

/* padding is specific so to more accurately match other card's padding */
.card-box ul li{
    display: inline;
    position:relative;
    top:15px;
    list-style: none;
    margin: 18px;
    padding-left: 8.3em;
    padding-right: 8.3em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
    background-color: rgb(12, 231, 166);
    border-radius: 15px;
    font-size: large;
    transition: margin 0.5s;
}

/* secondary grid, filled with work stuff*/
#nested-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* elements within anchor */
.project{
    justify-content: center;
    position:relative;
    transition: padding 0.5s;
}

/* text within images */
.project h3{
    background-color: white;
    outline:10px solid white;
    position:absolute;
    justify-self: center;
    left:32%;
    bottom:40%;
    opacity: 0; 
    transition: 0.5s;
}

/* individual images in the nested grid */
.project img{
    border: solid 5px rgb(57, 125, 146);
    width: 350px;
    height: 200px;
    margin:1em;
}

/* bottom of the page */
footer{
    display:flex;
    justify-content: center;
}

/* ============================================================ */
/* MEDIA QUERIES */

/* modifying contact me ul display behaviour */
@media (max-width: 1712px){
    .card-box ul li{
        padding-left: 4em;
        padding-right: 4em; 
    }
}

/* modifying text under profile picture */
@media (max-width: 1701px){
    .image-text{
        position:relative;
        float:right;
        font-size: xx-large;
        max-width: fit-content;
        padding-right: 46%;
    }
}

/* modifying contact me + text under profile picture */
@media (max-width: 1065px){
    .card-box ul li{
        padding-left: 2em;
        padding-right: 2em;
    }

    .image-text{
        position:relative;
        float:right;
        font-size: xx-large;
        max-width: fit-content;
        padding-right: 43%;
        padding-top: 20px;
    }

    #nested-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 750px){
    .card-box ul li{
        padding-left: 1em;
        padding-right: 1em;
    }

    .image-text{
        position:relative;
        float:right;
        font-size: x-large;
        max-width: fit-content;
        padding-right: 43%;
        padding-top: 20px;
    }

    #nested-grid{
        grid-template-columns: 1fr;
    }
}
/* =========================================================== */
/* pseudo classes for animations */
.project:hover {
    padding-left: 3%;
    padding-right:3%;
}

.project:hover h3{
    opacity:1;
}

.card-box:hover ul li{
    margin-right: 3%;
    margin-left: 3%;
}