/*This is my CSS file*/
*{
    font-family: "Helvetica Neue", "Arial", sans-serif;
    padding: 0%;
    margin: 0%;
}

header{
    /* placing the links on the right side */
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(86, 130, 138);
    position:fixed;
    width: 100%;
    margin:0px;
}

header h1{
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 10px;
    color: rgb(37, 176, 201);
}

header div{
    display: block;
}

/*header nav links specs*/
header ul li{
    /*text aesthetics*/
    text-decoration: underline;
    font-weight:bold;
    list-style: none;

    float:right;

    /*display type*/
    display: inline;

    /*dimensions*/
    padding: 15px;
    margin: 10px;

    /*coloring*/
    border-radius: 15px;
    background-color: rgb(37, 176, 201);
    
}

/*banner image*/
.image{
    padding-top: 75px;
    width:100%;
    height:400px;
    background-image: url("../assets/banner-image.jpg");
}

.profile-picture{
    width: 300px;
    height: 600px;
    align-self: left;
}

/* from here up, do not fkn touch anything, it's fine */
/* ===================================================================== */

/* I need a grid on my main page where the content will go */
/* 1 box class per boxes - 6 total */
main{
    display:grid;
    grid-template-columns: repeat(2, 2fr);
    
    
}
/* I need a class styling the h2's + border on right side */
.heading-box{
    
    justify-self: right;
    
}

.heading-box h2{
    align-content: right;
    color:rgb(0, 91, 209);
    margin:0.5em;
}

.card-box{
    
    border-left: solid 0.25em;
    border-color: rgb(12, 231, 166);
    margin:0.3em;
}

.card-box article p{
    margin: 0.3em;
    padding: 0.5em;
    justify-items: center;
}

/* padding is specific so to more accurately match other card's padding */
.card-box ul li{
    display: inline;
    position:relative;
    top:15px;
    list-style: none;
    margin: 0.3em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    align-items: center;
}


/* i need a secondary nested grid where project images will go */
/* secondary grid can just be one generic class */